<html>
<div class="titulo" style="align-content: center;">
    <img src="./assets/escenarios.png" style="width: 20%;margin-left: 40%;" />
    <h3>Sistema de informacion de registros prestamos de escenarios deportivos secccional Sogamoso-UPTC</h3>
    <table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>DESCRIPCION</th>
        <th>Acciones</th>
      </tr>
      </thead>

     <tbody>
      <tr *ngFor= "let Escenario of Scenary">
        <td>{{Escenario.id}}</td>
        <td>{{Escenario.nameScenary}}</td>
        <td>{{Escenario.description}}</td>
        <td>
          <button (click)="updateS(Escenario.id)"  color="warn" focusable="false">Modificar</button>
          <button (click)="deleteS(Escenario.id)" color="warn" focusable="false">Borrar</button>

      </td>
    </tr>
    
    </tbody>
    </table>

    <button class="crear"><a mat-list-item href="/crearEsc" class="lista">Crear Nuevo Escenario</a>
    </button>

</div>
<router-outlet></router-outlet>

</html>