<html>
<div class="titulo" style="align-content: center;">
    <img src="./assets/escenarios.png" style="width: 20%;margin-left: 40%;" />
    <h3>Sistema de informacion de registros prestamos de escenarios deportivos secccional Sogamoso-UPTC</h3>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>HORA</th>
                <th>USUARIO</th>
                <th>ESCENARIO</th>
                <th>ACCIONES</th>
              </tr>
              </thead>

              <tbody>
                <tr *ngFor= "let Prestamo of booking">
                  <td>{{Prestamo.id}}</td>
                  <td>{{Prestamo.date}}</td>
                  <td>{{Prestamo.hour}}</td>
                  <td>{{Prestamo.user.userCode}}</td>
                  <td>{{Prestamo.scenary.nameScenary}}</td>
                  <td>
                    <!--<button (click)="updateS(Escenario.id)"  color="warn" focusable="false">Modificar</button>-->
                    <button (click)="deleteB(Prestamo.id)" color="warn" focusable="false">Borrar</button>
          
                </td>
              </tr>
            </tbody>
    </table>

    <button class="crear"><a mat-list-item href="/reserva" class="lista">Reservar</a>
    </button>

</div>
<router-outlet></router-outlet>

</html>
